<div class="factionPage" id="allPage">
    <h1 class="factionTitle" id="allTitle">All Factions</h1>
    <div class="container">
        <div class="figurineCards row row-cols-1 row-cols-md-3 g-4">
        {{> figurinecards}}
        </div>
    </div>
</div>