<div class="factionPage" id="allPage">
    <h1 class="factionTitle" id="allTitle">All Factions</h1>
    <div class="container">
        <div class="figurineCards row row-cols-1 row-cols-md-3 g-4">
        {{#each figurines as |figurine| }}
            <div class="col">
                <div class="card">
                    <img src="/assets/{{ figurine.filename }}" class="card-img-top" alt="img">
                    <div class="card-body">
                        <h5 class="card-title"> {{ figurine.product_name }}</h5>
                        <p class="card-text">${{ figurine.price }}.00</p>
                        <button class="btn btn-primary" onclick="addToFavorites('')">Add to Favorites</button>
                        <a href="{{ figurine.store_link }}" class="btn btn-secondary">Go to Website</a>
                    </div>
                </div>
            </div>
        {{/each}}
        </div>
    </div>
</div>