<div class="slider-container">
        <div class="slider">
            <div class="slide" id="slide1">
                <h1>Space Marines</h1>
            </div>
            <div class="slide" id="slide2">
                <h1>Imperium Armies</h1>
            </div>
            <div class="slide" id="slide3">
                <h1>Chaos</h1>
            </div>
            <div class="slide" id="slide4">
                <h1>Aeldari</h1>
            </div>
            <div class="slide" id="slide5">
                <h1>Xenos</h1>
            </div>
            <div class="slide" id="slide6">
                <h1>Necron</h1>
            </div>
        </div>
        <button class="prev" onclick="prevSlide()" id = "prevButton">❮ </button>
        <button class="next" onclick="nextSlide()" id = "nextButton"> ❯</button>
    </div>


{{!-- <div class="slides">
  {{#each categories}}
    <div class="slide" id="{{id}}">
      <h1>{{title}}</h1>
    </div>
  {{/each}}
</div> --}}