<div class="galleryPage">
    <div class="galleryDiv">
        <ul>
            <li><a class="Xenos" href="/Xenos">Xenos</a></li>
            <li><a class="Chaos" href="/Chaos">Chaos</a></li>
            <li><a class="spaceMarines" href="/space-marines">Space Marines</a></li>
            <li><a class="imperialArmies" href="/imperial-armies">Imperial Armies</a></li>
            <li><a class="necron" href="/necron">Necron</a></li>
            <li><a class="aeldari" href="/aeldari">Aeldari</a></li>
        </ul>
    </div>
    
</div>