<div class="galleryPage" id="galleryPageID">
    <div class="galleryDiv">
        <ul>
            <li><a class="allA" href="/all">All</a></li>
            <li><a class="xenos" href="/xenos">Xenos</a></li>
            <li><a class="chaos" href="/chaos">Chaos</a></li>
            <li><a class="spaceMarines" href="/space-marines">Space Marines</a></li>
            <li><a class="imperialArmies" href="/imperial-armies">Imperium Armies</a></li>
            <li><a class="aeldari" href="/aeldari">Aeldari</a></li>
            <li><a class="necron" href="/necron">Necron</a></li>   
        </ul>
    </div>
    <div>
        <img class="mainImage" src="/images/xenos.png">
    </div>
</div>