<div class="page" id="page1">
  <div class="text-container">
    <p>Welcome to Solemnace Galleries</p>
    <a href="/gallery" class="factionsBtn" id="enterWarhammerBtn">Enter the
    Warhammer Universe</a>
  </div>
</div>