<div class="factionPage" id="xenosPage">
<h1 class="factionTitle" id="xenosTitle">Xenos</h1>
    <div class="container">
        <div class="figurineCards row row-cols-1 row-cols-md-3 g-4">
        {{> figurinecards}}
        </div>
    </div>
</div>