.figurineCards {
    position:relative;
    top: 10rem;
}

.card-title {
    font-family: 'Cinzel', serif;
    font-weight: 100;
    letter-spacing: 2px;
}

.card-img-top {
    max-height: 427.52px;
    min-height: 427.52px;
    min-width: 413.98px;
    max-width: 413.98px;
}

.factionTitle {
    position: absolute;
    top: 3rem;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Pirata One', system-ui, sans-serif;
    font-weight: 100;
    font-size: 4rem;
    letter-spacing: 1px;
    z-index: 1;
}

.factionTitle:hover {
    cursor: default;
}

#chaosTitle {
    top: 3.2rem;
}

#spaceMarinesPage {
    background: #BF9B30;
}

#necronPage {
    background-color: #698174;
}

#aeldariPage {
    background-color: #7A6E8D;
}

#imperialArmiesPage {
    background-color: #677990;
}

#xenosPage {
    background-color: #AF7D83;
}

#chaosPage {
    background-color: #827F79;
}

#allPage {
    background-image: url('/images/warhammerbg3.webp');
    background-attachment: fixed;
    background-size: cover;
}

.page {
    background-image: url('/images/warhammer_homepage.jpg'); 
    background-size: cover;
    margin: 0;
    height: 100vh;
    transition: opacity .05s ease-in-out;
}

.page a {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Pirata One', system-ui, sans-serif;
    font-weight: 300;
    font-size: 3rem;
    color:darkred;
    letter-spacing: 1px;
    text-shadow: 2px 2px 4px rgba(92, 0, 0, 0.434);
    text-decoration: none;
    filter: brightness(1.1);
    z-index: 1; 
    top:45%
}

.page a:hover  {
    filter: brightness(1.4);
}

.title {
position: absolute;
margin-top: 3rem;
left: 77.5%;
font-family: 'Pirata One', system-ui, sans-serif;
font-weight: 300;
font-size: 3rem;
color:darkred;
letter-spacing: 1px;
text-shadow: 2px 2px 4px rgba(92, 0, 0, 0.434);
text-decoration: none;
filter: brightness(1.1);
z-index: 1;
}

.title:hover  {
    filter: brightness(1.4);
}

.navContainer {
    position: fixed;
    z-index: 1;
}

.navImg {
    max-width: 9rem;
    max-height: 9rem;
    z-index: 2;
    position: fixed;
    margin-left: 1rem;
    margin-top: 2rem;
}

.dropdown-items {
    z-index: 2;
    position: absolute;
    top: 10rem;
    line-height: 4rem;
    right: -9rem;
    font-size: 2rem;
    font-family: 'Pirata One', system-ui, sans-serif;
    opacity: 0;
    display: none;
    transition: opacity 1s ease-in-out;
}

.dropdown-items ul {
    list-style: none;
}

.dropdown-items ul li a:hover {
    filter: brightness(3);
}

.galleryDiv ul li a:visited {
    -webkit-text-stroke-color: #f2eacb;
}

.navImg:hover {
    filter: brightness(1.4);
}

.navImgDropDown {
    max-width: 25rem;
    max-height: 25rem;
    z-index: 1;
    position: absolute;
    margin-left: .5rem;
    top: 5rem;
    display: none;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.navContainer.active .dropdown-items,
.navContainer.active .navImgDropDown {
    opacity: 1;
}

.galleryPage {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #000;
    transition: background-color 1s ease;
    filter: brightness(.7);
}

.mainImage {
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 30vw;
    max-height: 60vh;
    opacity: 25%;
    min-width: 20vw;
    min-height: 60vh;
    border-style:none;
}

.galleryDiv {
    text-align: center;
    z-index: 3;
}

.galleryDiv ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    height: 60%;
    
}

.galleryDiv ul li {
    margin: 10px 0;
    flex-grow: 1;
    -webkit-text-stroke-width: .1rem;
    -webkit-text-stroke-color: #f2eacb;
    transition: transform 1s ease;
    transition: text-shadow 1s ease;
    line-height: 4rem;
}

.galleryDiv ul li:hover {
    transform: translate(-2px, -2px);
}

.galleryDiv ul li a {
    text-decoration: none;
    font-size: 4.5rem;
    font-family: 'Pirata One', system-ui, sans-serif;
    color: transparent;
    transition: transform 1s ease;
    cursor: pointer;
    text-shadow: 5px 5px 0;
}

.factionTitle {
    -webkit-text-stroke-width: 1px;
    font-size: 5rem;
}

#allTitle {
    color: white;
    -webkit-text-stroke-color: grey;
    text-shadow: 5px 5px 0 black;
    font-size: 5rem;
}

.xenos:hover, .aeldari:hover, .spaceMarines:hover, .imperialArmies:hover, .necron:hover, .chaos:hover, .allA:hover {
    -webkit-text-stroke-width: 1px;
    
}

.allA:hover {
    color: white;
    -webkit-text-stroke-color: #FFCED5;
    text-shadow: 3px 3px 0 black, 5px 5px 0 #C8B562;
}

#xenosTitle, .xenos:hover {
    color: #E0E0C4;
    -webkit-text-stroke-color: #da8995;
    text-shadow: 3px 3px 0 #AF7178, 5px 5px 0 #C8B562;
}

#chaosTitle, .chaos:hover {
    color: #E0E0C4;
    -webkit-text-stroke-color: #312b20;
    text-shadow: 3px 3px 0 #9A9592, 5px 5px 0 #C8B562;
}

#spaceMarinesTitle, .spaceMarines:hover {
    color: #e6dec7;
    -webkit-text-stroke-color: #ecf02c;
    text-shadow: 3px 3px 0 darkgoldenrod, 5px 5px 0 #C8B562;
}

#imperialArmiesTitle, .imperialArmies:hover {
    color: #E0E0C4;
    -webkit-text-stroke-color: #D9EBFF;
    text-shadow: 3px 3px 0 #0b2a52, 5px 5px 0 #C8B562;
}

#necronTitle, .necron:hover {
    color: #E0E0C4;
    -webkit-text-stroke-color: #D4FFE5;
    text-shadow: 3px 3px 0 #44805d, 5px 5px 0 #C8B562;
}

#aeldariTitle, .aeldari:hover {
    color: #E0E0C4;
    -webkit-text-stroke-color: #DBC9FF;
    text-shadow: 3px 3px 0 #807299, 5px 5px 0 #C8B562;
    
}

.col {
    display: flex;
    position: relative;
    justify-content: space-evenly;
}

.login-card, .signup-card {
    width: 15%;
    box-sizing: border-box;
    padding: 10px;
    background: transparent;
    box-shadow: -2px 7px 50px 15px black;
}

.form {
    margin-top: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-input {
    width: 100%;
    box-sizing: border-box;

}

.btn {
    background-color: #4caf50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.login-card + .signup-card {
    margin-left:-25rem;
}

.loginPage {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url('/images/loginbg.png');
    background-size: cover;
}

.page-title {
    font-family: 'Mate SC', serif;
    font-weight: 300;
    font-size: 4rem;
    color:darkred;
    letter-spacing: 3px;
    filter: brightness(1.1);
    z-index: 2;
    -webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color: rgb(145, 57, 57);
    text-shadow: 2px 2px 5 white;
}

.form-input {
    border-radius: 5px;
    background-color:transparent;
    box-shadow: -2px 7px 50px 15px black;
    color: white;
    padding:5px;
    font-family: 'Domine', 'Times New Roman', Times, serif;
}

.form-input::placeholder {
    color:whitesmoke;
    font-family: 'Domine', 'Times New Roman', Times, serif;
    font-weight: 100;
    filter: contrast(100);
}

#signUpButton, #loginButton {
    font-family: 'Mate SC', serif;
    background-color: darkred;
    border-style: none;
}

#signUpButton:hover, #loginButton:hover {
    filter: brightness(1.2);
}

@media screen and (max-width: 1299px) {
    .loginSignUpCards {
        display: flex;
    }
    
    .login-card,
    .signup-card {
        width: 25%;
    }

    .login-card + .signup-card {
        margin-left: 10%; 
    }
}

@media screen and (max-width: 795px) {
    .loginSignUpCards {
        display:list-item;
    }
    
    .login-card, .signup-card {
        width: 65%;
    }
    
    .login-card {
        margin-left: 17.5%;
        margin-top: 20%;
    }

    .login-card + .signup-card {
        margin-top: 5%; 
    }

    .login-card + .signup-card {
        margin-left: 17.5%;
    }

    .page-title {
        font-size: 2rem;
    }
}

@media screen and (max-height: 760px) {
    .navImg {
        margin: 0;
    }
    .dropdown-items {
        right: -8rem;
    }
    
    .navImgDropDown {
        max-width: 25rem;
        max-height: 25rem;
        margin-left: -.5rem;
        top: 5rem;
    }
    
    .login-card, .signup-card {
        width: 65%;
    }

    .login-card + .signup-card {
        margin-top: 5%; 
    }
    
    .login-card {
        margin-left: 17.5%;
        margin-top: 15%;
    }

    .loginPage {
        height: 120vh;
    }
    
}
